  <!-- Page content -->
  <div class="container-fluid mt--5">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">List of Employee Salaries</h3>
              </div>
              <div class="col-4 text-right">
                <a [routerLink]="['monthpay']" class="btn btn-sm btn-primary">Salaries by Month</a>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Full name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Salary</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody  *ngIf="employees ; else nodata">
                <tr *ngFor="let employee of employees">
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                        <img alt="user" [src]="employee.photo ? employee.photo : 'https://ui-avatars.com/api/?name='+employee.fullname+'&amp;background=7889e8&amp;bold=true&amp;color=3c4d69'">
                      </a>
                      <div class="media-body">
                        <span class="mb-0 text-sm">{{employee.fullname}}</span>
                      </div>
                    </div>
                  </th>
                  <td>
                    {{employee.email}}
                  </td>
                  <td>
                    {{employee.phone}}
                  </td>
                  <td>
                    <span class="badge badge-success">{{employee.salary | currency}}</span>

                  </td>

                  <td class="text-right">
                    <a  [routerLink]="['pay',employee.id]"  class="btn btn-outline-danger btn-sm">pay salary</a>
                  </td>
                </tr>

              </tbody>
              <ng-template #nodata>
                <tr>
                  <td colspan="5" class="d-flex justify-center"> No suppliers</td>
                </tr>
              </ng-template>
            </table>
          </div>
          <div class="card-footer py-4">

            <ngb-pagination class="d-flex justify-content-end"
            [collectionSize]="totalItems"
            [pageSize]="limit"
             [(page)]="page"
             (pageChange)="getEmployeeData()"
             aria-label="Default pagination"></ngb-pagination>

          </div>
        </div>
      </div>
    </div>

  </div>
