  <!-- Page content -->
  <div class="container-fluid mt--5">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card bg-secondary shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0 text-uppercase">Order Detail</h3>
              </div>

            </div>
          </div>
          <div class="row mx-2">
            <div class="col-md-6 my-2" *ngIf="order">
              <ul class="list-group">
                <li class="list-group-item">
                  <i class="uil uil-user text-primary"></i> Name :   <strong>{{ order.fullname | titlecase}}</strong>

                <li class="list-group-item">
                  <i class="uil uil-phone text-primary"></i> Phone : <strong> {{ order.phone }}</strong>
              </li>

            <li class="list-group-item">
              <i class="uil uil-home text-primary"></i> Adress : <strong>{{ order.adress }}</strong>
            </li>
            <li class="list-group-item">
              <i class="uil uil-calendar-alt text-primary"></i> Order Date : <strong> {{ order.order_date }} </strong>
            </li>
            <li class="list-group-item">
              <i class="uil uil-transaction text-primary"></i> Pay Through : <strong> {{ order.payby }} </strong>
            </li>
          </ul>
            </div>
            <div class="col-md-6 my-2" *ngIf="order">
              <ul class="list-group">
                <li class="list-group-item">
                  <i class="uil uil-money-bill text-primary"></i>
                  Sub total : <strong> {{ order.sub_total | currency }} </strong>
                </li>
                <li class="list-group-item">
                  <i class="uil uil-percentage text-primary"></i>
                  TVA :  <strong> {{ order.tva }} %</strong>
              </li>
            <li class="list-group-item">
              <i class="uil uil-bill text-primary"></i>
              Pay Amount :  <strong> {{ order.pay | currency}}</strong>
            </li>
            <li class="list-group-item">
              <i class="uil uil-money-withdrawal text-primary"></i>
              Due Amount :  <strong> {{ order.due | currency }}</strong>
           </li>
           <li class="list-group-item">
            <i class="uil uil-usd-circle text-primary"></i>
            Total Amount : <strong class="text-success">{{ order.total | currency}}</strong>
          </li>
              </ul>
            </div>
            <div class="table-responsive col-md-12 mb-4">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Product name</th>
                    <th scope="col">Product code</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Unit price</th>
                    <th scope="col">Total</th>

                  </tr>
                </thead>
                <tbody class="bg-white">
                  <tr *ngFor="let product of products">
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="javascript:void(0)" class="">
                          <img class="product_img" alt="user" [src]="product.product_image ? product.product_image : 'https://ui-avatars.com/api/?name='+product.product_name+'&amp;background=7889e8&amp;bold=true&amp;color=3c4d69'">
                        </a>
                        <div class="media-body">
                          <span class="mb-0 text-sm">{{product.product_name | titlecase }}</span>
                        </div>
                      </div>
                    </th>
                    <td>
                      {{product.product_code }}
                    </td>
                    <td><span class="badge badge-pill badge-danger font12">{{ product.product_qty }}</span>

                    </td>
                    <td>
                      {{product.product_price | currency}}
                    </td>
                    <td >
                      <b>{{product.sub_total | currency}}</b>
                    </td>

                  </tr>

                </tbody>

              </table>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
